@import '~antd/dist/antd.less';
@collapse-content-padding: 8px;
@collapse-header-padding: 8px;
@collapse-header-padding-extra: 24px;
@collapse-header-arrow-left: 8px;
@drawer-header-padding: @padding-sm;
@form-item-margin-bottom: 12px;
@height-base: 24px;
@layout-header-height: 40px;
@table-padding-vertical: 8px;
@input-padding-vertical-base: 0px;
.@{ant-prefix}-input {
  height: @height-base;
}
.@{table-prefix-cls} {
  &-pagination.@{ant-prefix}-pagination {
    margin: 8px 0;
  }
}
.ant-table-content {
  overflow-x: auto;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  white-space: nowrap;
}
